<launch>

	<!-- below is the pin that is needed to control the airpump for the bubbling -->
	<arg name="pins" default="8" doc="Specify the pin your pump is connected to"/>
    <arg name="node_name" default="aroma_airpump_node" doc="Name of the node"/>
    
    <param name="~pins" value="$(arg pins)" type="str"/>


    <node name="$(arg node_name)" pkg="aroma_airpump" type="airpump.py" output="screen">
    </node>

</launch>
